.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
}

// animated hovering over the letters
.text-animate-hover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover {
        animation: rubberBand 1s;
        color: #d6a9a9;
    }
}

//looping through the letters for them to appear one after another
@for $i from 1 through 35 {
    .text-animate._#{$i} {
        animation-delay: #{$i / 10}s;

    }
}